{
  "rules": {
    "testing-library/no-render-in-setup": "off",
    "testing-library/no-node-access": "off",
    "testing-library/prefer-screen-queries": "off",
    "testing-library/prefer-presence-queries": "off",
    "testing-library/render-result-naming-convention": "off"
  }
}